.about_container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    
}

section h5{
    padding-top: 2rem;
}

.about_me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, 
        transparent,
        var(--color-primary),
         transparent);

         display: grid;
         place-items: center;
}

.about_me_image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    height: 100%;
}

.about_me_image:hover{
    transform: rotate(0deg);
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    width: 200px;
}

.about_card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about_icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}


.about_card h5{
    font-size: 0.95rem;
}

.about_card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about_content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


    

/*------------MEDIA QUERY FOR MEDIUM DEVICES (TABLET)------------------*/
@media screen  and (max-width:1024px){
    .about_container{
        grid-template-columns: 1fr;
        gap: 0;
        /* margin-bottom: 4rem; */
    }

    .about_me{
       width: 30%;
       margin: 2rem auto 4rem;
       margin-bottom: 0rem;
       margin-top: 3rem;
    }

    .about_content p{
        margin: 2rem 0 1.5rem;
    }

    .about_card h5{
        font-size: 0.95rem;
        margin: 1.5rem;
        text-align: center;
        /* margin-top: 10px ; */
    }
    
}


/*------------MEDIA QUERY FOR SMALL DEVICES ()------------------*/
@media screen  and (max-width:600px){
    #about{
        margin-top: -20rem;
    }
 .about_me{ 
     width: 80%;
     margin: 0 auto 1rem;
     text-align:center;
 }

 .about_cards{
     grid-template-columns: 1fr 1fr ;
     gap: 1rem;
     margin: 0rem 0rem 0rem -2rem;
 }

 .about_content{
     text-align: center;
 }

 .about_content p{
     margin-bottom: 1rem;
     margin-left: 1rem;
     margin-right: 1;
}
}


/*------------MEDIA QUERY FOR SMALL DEVICES (420)------------------*/
@media screen  and (max-width:420px){
    .about_me{ 
        width: 70%;
        height: 120%;
        margin: 0rem 0rem 0rem 1.5rem;
    }
   
    .about_cards{
        grid-template-columns: 1fr;
        margin-top: 4rem;
        width: 10%;
    }
   
    .about_card{
        width: 92%;
    }
   
    .about_content{
        text-align: center;
    }
   
    .about_content p{
        margin: 1.5rem 0;
   }
   }
    


